data/
*.csv
*.zip
*.7z

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Model checkpoints & outputs
checkpoints/
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# S3 mock (local simulation of Data Lake)
s3_mock/

# Spark
derby.log
metastore_db/
spark-warehouse/

# OS
.DS_Store
Thumbs.db